<!DOCTYPE html>
<html>
<head lang="en">
    <!-- TODO absolute path for now -->
    <link rel="stylesheet" type="text/css" href="/home/jorgo/code/OpenWPM/measurement/assets/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Analysis Crawl Report</title>
</head>
<body>
    <h2>Analysis Crawl Report</h2><br>
    <h4>Summary</h4>

    <!-- Meta Data (num_pages,num_timeouts,rate_timeouts,time)-->
    <table class="table table-bordered">
      <tr>
        <th>sites</th>
        <th>crawltype</th>
        <th>runtime</th>
        <th>timeouts</th>
        <th>timeoutrate</th>
      </tr>
      <tr>
        <td>{{num_pages}}</td>
        <td>{{crawl_type}}</td>
        <td>{{time}}</td>
        <td>{{num_timeouts}}</td>
        <td>{{rate_timeouts}}</td>
      </tr>
    </table>
    <p><span style="font-weight: bold">Note:</span>
      Crawltype refers to configured firefox browser - vanilla(no plugins), ghostery, disconnect, dnt(Do Not Track header), adblock
    </p>
    <hr><br>

    <!-- Storage (firstparty_cookies,thirdparty_cookies,flash_cookies,localstorage)-->
    <h4>Storage Technology</h4>
    <table class="table table-bordered">
      <tr>
        <th>first-party cookies</th>
        <th>third-party cookies</th>
        <th>flash</th>
        <th>localstorage</th>
      </tr>
      <tr>
        <td>{{first_cookies}}</td>
        <td>{{third_cookies}}</td>
        <td>{{flash_cookies}}</td>
        <td>{{localstorage}}</td>
      </tr>
    </table>

    <!-- Storage Ranks (rank_cookie_domains,rank_cookie_keys)-->
    <table class="table table-bordered">
      <tr>
        <th>top {{cookie_domains|length}} cookie domains</th>
        <th>top {{cookie_keys|length}} cookie keys</th>
      </tr>
      <tr>
        <td>
          <ol>
            {% for domain in cookie_domains %}
            <li>{{domain[0]}}</li>
            {% endfor %}
          </ol>
        </td>
        <td>
          <ol>
            {% for key in cookie_keys %}
            <li>{{key[0]}}</li>
            {% endfor %}
          </ol>
        </td>
      </tr>
    </table>
    <p><span style="font-weight: bold">Note:</span>
      Cookie measurements refer to total amount across all sites.
      Flash and localstorage refer to total pages employing technology.
      Note that the usage of displayed technologies is no hard evidence for tracking.
    </p>
    <hr><br>

    <!-- Http (trackingcontext,loadingtime,cookiesync)-->
    <h4>Third-Party Http Traffic</h4>
    <table class="table table-bordered">
      <tr>
        <th>requests</th>
        <th>avg. requests</th>
        <th>avg. pageloadtime</th>
        <th>avg. bytes</th>
        <th>trackers</th>
        <th>avg. trackers</th>
        <th>unique blocked domains</th>
        <th>cookie syncing</th>
      </tr>
        <td>{{count_requests}}</td>
        <td>{{avg_requests}}</td>
        <td>{{avg_pageload}}</td>
        <td>{{avg_resp_bytes}}</td>
        <td>{{count_trackers}}</td>
        <td>{{avg_trackers}}</td>
        <td>{{count_unique}}</td>
        <td>{{count_cookiesync}}</td>
      <tr>
      </tr>
    </table>

    <!-- Http Ranks (prominence_rank,simple_rank)-->
    <table class="table table-bordered">
      <tr>
        <th>top {{rank_prevalence|length}} requested domains (prevalence)</th>
        <th>top {{rank_prominence|length}} requested domains (prominence)</th>
        <th>detected new trackers</th>
      </tr>
      <tr>
        <td>
          <ol>
            {% for domain in rank_prevalence %}
            <li>{{domain[0]}}</li>
            {% endfor %}
          </ol>
        </td>
        <td>
          <ol>
            {% for domain in rank_prominence %}
            <li>{{domain[0]}}, score: {{domain[1]|round(2)}}</li>
            {% endfor %}
          </ol>
        </td>
        <td>
          <ol>
            {% for domain in new_trackers %}
            <li>{{domain}}</li>
            {% endfor %}
          </ol>
        </td>
      </tr>
    </table>
    <p><span style="font-weight: bold">Note:</span>
      A domain is classified as third party if it does not match a hosts
      first level domain.
      Pageload time refers to timespan between initial request and last response.
      Trackers are classified as third-party domains matching Disconnects blocking list.
      Cookiesyning refers to total amount of pages showing said behaviour.
      Traffic is calculated based on content-length response header.
    </p>
    <hr><br>

    <!-- Fingerprinting (fingerprint_matches,detected_canvas_js,detected_font_js)-->
    <h4>Active Fingerprinting</h4>
    <table class="table table-bordered">
      <tr>
        <th>sites using scripts</th>
        <th>canvas fp scripts</th>
        <th>font fp scripts</th>
      </tr>
      <tr>
        <td>{{count_fp_scripts}}</td>
        <td>
          <ol>
            {% for url in canvas_scripts %}
            <li>{{url}}</li>
            {% endfor %}
          </ol>
        </td>
        <td>
          <ol>
            {% for url in font_scripts %}
            <li>{{url}}</li>
            {% endfor %}
          </ol>
        </td>
      </tr>
    </table>
    <p><span style="font-weight: bold">Note:</span>
      Scripts are matched based on findings in 1 Million Sites Measurement
    </p>
</body>
</html>
